<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/dashboard.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Bookmark Landing Page</title>
  </head>
  <body class="font-Poppins">
    <!-- Header -->
    <header>
      <nav class="container flex items-center py-4 mt-4 sm:mt-12">
        <div class="py-1"><img src="imgs/logo-bookmark.svg" alt="" /></div>
      
        <!-- Dropdown menu -->
        <div class="relative ml-auto sm:hidden">
          <button type="button" class="flex items-center text-bookmark-blue focus:outline-none" onclick="toggleDropdown()">
            <i class="text-2xl fas fa-bars"></i>
          </button>
          <ul class="absolute right-0 mt-2 w-40 bg-white rounded-md shadow-lg hidden" id="dropdownMenu">
            <li class="cursor-pointer py-2 px-4 hover:bg-gray-200"><a href="/checkoutdailys">CheckOutS</a></li>
            <li class="cursor-pointer py-2 px-4 hover:bg-gray-200"><a href="/dailys">CheckInS</a></li>
            <li class="cursor-pointer py-2 px-4 hover:bg-gray-200"><button type="button" class="text-bookmark-red">Logout</button></li>
          </ul>
        </div>
      
        <!-- Menu items -->
        <ul class="hidden sm:flex flex-1 justify-end items-center gap-12 text-bookmark-blue uppercase text-xs" id="menuItems">
          <li class="cursor-pointer"><a href="/checkoutdailys">CheckOutS</a></li>
          <li class="cursor-pointer"><a href="/dailys">CheckInS</a></li>
          <li class="cursor-pointer"><a href="/checks">Checks</a></li>
          <li class="cursor-pointer py-2 px-4 hover:bg-gray-200"><a href="/logout" class="text-bookmark-red">Logout</a></li>
        </ul>
      </nav>
      
      
      
    </header>

    <!-- FAQ -->
    <section class="bg-bookmark-white py-20">
      <div class="container">
        <!-- Heading -->
        <div class="sm:w-3/4 lg:w-5/12 mx-auto px-2">
          <h1 class="text-3xl text-center text-bookmark-blue">Check in by pressing button down </h1>
        </div>
        <!-- FAQ Items -->
        <div class="flex flex-col sm:w-3/4 lg:w-5/12 mt-12 mx-auto ">
            <div class="flex items-center border-b py-4 justify-center">
              <i class="text-bookmark-purple fas fa-chevron-down"></i>
            </div>
            <div class="flex items-center border-b py-4 justify-center">
              <i class="text-bookmark-purple fas fa-chevron-down"></i>
            </div>
            <div class="flex items-center border-b py-4 justify-center">
              <i class="text-bookmark-purple fas fa-chevron-down"></i>
            </div>
            <div class="flex items-center border-b py-4 justify-center">
              <i class="text-bookmark-purple fas fa-chevron-down"></i>
            </div>
          </div>
          <div class="flex items-center border-b py-4 justify-center">
            <button type="button" class="bg-sky-500/75 mt-12 flex self-center btn btn-purple hover:bg-bookmark-white hover:text-black justify-center">
                Check in
              </button>
          </div>
        </div>
          
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-bookmark-blue py-8">
      <div class="container flex flex-col md:flex-row items-center">
        <div class="flex flex-1 flex-wrap items-center justify-center md:justify-start gap-12">
          <img src="imgs/logo-bookmark-white.png" alt="" />
          <ul class="flex text-white uppercase gap-12 text-xs">
            <li class="cursor-pointer">Features</li>
            <li class="cursor-pointer">Pricing</li>
            <li class="cursor-pointer">Contact</li>
          </ul>
        </div>
        <div class="flex gap-10 mt-12 md:mt-0">
          <li><i class="text-white text-2xl fab fa-twitter"></i></li>
          <li><i class="text-white text-2xl fab fa-facebook-square"></i></li>
        </div>
      </div>
      <script>
          function toggleDropdown() {
            const dropdownMenu = document.getElementById('dropdownMenu');
            dropdownMenu.classList.toggle('hidden');
          }
      </script>
    </footer>
  </body>
</html>